body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 50%;
  margin: auto;
  padding: 50px;
}

.calculator {
  border-radius: 16px;
  box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: auto;
}

.display-container {
  margin: auto;
  padding: 50px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 12px;
}

.screen {
  height: 80px;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgb(95, 186, 103);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.screen div {
  text-align: end;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 700;
  color: aliceblue;
}
.calculator-btns {
  padding: 30px;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: darkgrey;
  gap: 5px;
}

.numbers {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.operations {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.operations div {
  background-color: rgb(0, 200, 255);
}

.operations div:hover {
  background-color: rgb(10, 89, 89);
}

#equal {
  background-color: rgb(245, 201, 54);
}

#equal:hover {
  background-color: rgb(206, 144, 0);
}

.nbr-btn {
  all: unset;
  cursor: pointer;
  flex: 0 0 calc(100% / 3);
  border-radius: 50%;
  aspect-ratio: 1;
  text-align: center;
  background-color: rgb(75, 77, 95);
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: seashell;
  min-width: 30px;
  margin: 3px 0px;
}

.op-btn {
  all: unset;
  cursor: pointer;
  flex: 0 0 calc(100% / 2);
  border-radius: 50%;
  aspect-ratio: 1;
  text-align: center;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: seashell;
  min-width: 30px;
  margin: 3px 0px;
}

.nbr-btn:hover {
  background-color: rgb(49, 50, 62);
}
